<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOUSBHIDDriverDescriptorOverride</string>
	<key>CFBundleIdentifier</key>
	<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOUSBHIDDriverDescriptorOverride</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>04d9-1829-Noppoo_Choc_Mid.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBBQgZASkDFQAlAXUBlQORApUFkQEFBxngKeeVCIECGQQp
			KJUlgQIJUpUGCU8JUAkrCSwJUYECCVOVAYECGVkpZJUMgQLA
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>6185</integer>
			<key>idVendor</key>
			<integer>1241</integer>
		</dict>
		<key>04d9-1829-Noppoo_Choc_Mid.yaml-1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQwJAaEBhQEZACo8AhUAJjwClQF1EIEAwAUBCYChAYUCGYEpgxUA
			JQF1AZUDgQKVBYEBwAUBCQahAYUDBQcZPClOFQAlAZUTgQIJLpUE
			CSkJKgktgQIZUylYlQaBAhkwKTuVDIECGYUpi5UHgQIZkCmWlQaB
			AgllCS+VAoECwA==
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>6185</integer>
			<key>idVendor</key>
			<integer>1241</integer>
		</dict>
		<key>04d9-a096-USB_Keyboard.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBhQWVCHUBFQAlAQUHGeAp54ECKWeVaBkAgQKVCIEBwAUB
			CYChAYUCGYEpgxUAJQGVA3UBgQKVAXUFgQHABQwJAaEBhQMZACr/
			AhUAJv9/lQF1EIEAwAYA/wkBoQGFBhUAJv8ACS+VAnUIgQLABgH/
			CQGhAYUHFQAm/wAJIHUIlQexAsA=
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>3335</integer>
			<key>idProduct</key>
			<integer>41110</integer>
			<key>idVendor</key>
			<integer>1241</integer>
		</dict>
		<key>04d9-a096-ozone_strikebatttle.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBBQcZ4CnnFQAlAXUBlQiBApUBdQiBAZUDdQEFCBkBKQOR
			ApUFdQGRAZUGdQgm/wAFBxkAKZGBAMA=
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>3332</integer>
			<key>idProduct</key>
			<integer>41110</integer>
			<key>idVendor</key>
			<integer>1241</integer>
		</dict>
		<key>04d9-a096-ozone_strikebatttle.yaml-1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBhQWVCHUBFQAlAQUHGeAp54ECKWeVaBkAgQKVCIEBwAUB
			CYChAYUCGYEpgxUAJQGVA3UBgQKVAXUFgQHABQwJAaEBhQMZACr/
			AhUAJv9/lQF1EIEAwAYA/wkBoQGFBhUAJv8ACS+VAnUIgQLABgH/
			CQGhAYUHFQAm/wAJIHUIlQexAsA=
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>3332</integer>
			<key>idProduct</key>
			<integer>41110</integer>
			<key>idVendor</key>
			<integer>1241</integer>
		</dict>
		<key>04d9-a096-ozone_strikebatttle.yaml-2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BgD/CgD/oQEVACb/AAkwdQiVCIECCTGRAsA=
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>bcdDevice</key>
			<integer>3332</integer>
			<key>idProduct</key>
			<integer>41110</integer>
			<key>idVendor</key>
			<integer>1241</integer>
		</dict>
		<key>04d9-a0cd-USB_Keyboard.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBhQWVCHUBFQAlAQUHGeAp54ECKWeVaBkAgQKVCIEBwAUB
			CYChAYUCGYEpgxUAJQGVA3UBgQKVAXUFgQHABQwJAaEBhQMZACr/
			AhUAJv9/lQF1EIEAwAYA/wkBoQGFBhUAJv8ACS+VAnUIgQLABgH/
			CQGhAYUHFQAm/wAJIHUIlQexAsA=
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>261</integer>
			<key>idProduct</key>
			<integer>41165</integer>
			<key>idVendor</key>
			<integer>1241</integer>
		</dict>
		<key>04f3-5a5a.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBBQgZASkDFQAlAXUBlQORApUFkQEFBxngKeeVCIECGQQp
			KJUlgQIJUpUGCU8JUAkrCSwJUYECCVOVAYECGVkpZJUMgQLA
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>320</integer>
			<key>idProduct</key>
			<integer>23130</integer>
			<key>idVendor</key>
			<integer>1267</integer>
		</dict>
		<key>04f3-5a5a.yaml-1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQwJAaEBhQEZACo8AhUAJjwClQF1EIEAwAUBCYChAYUCGYEpgxUA
			JQF1AZUDgQKVBYEBwAUBCQahAYUDBQcZPClOFQAlAZUTgQIJLpUE
			CSkJKgktgQIZUylYlQaBAhkwKTuVDIECGYUpi5UHgQIZkCmWlQaB
			AgllCS+VAoECwA==
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>320</integer>
			<key>idProduct</key>
			<integer>23130</integer>
			<key>idVendor</key>
			<integer>1267</integer>
		</dict>
		<key>0566-3063-USB_KeyBoard.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBBQgZASkDFQAlAXUBlQORApUFkQEFBxngKeeVCIECGQQp
			KJUlgQIJUpUGCU8JUAkrCSwJUYECCVOVAYECGVkpZJUMgQIZPClO
			FQAlAZUTgQIJLpUECSkJKgktgQIZUylYlQaBAhkwKTuVDIECGYUp
			i5UHgQIZkCmWlQaBAgllCS+VAoECdQiVAYEBwA==
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>12387</integer>
			<key>idVendor</key>
			<integer>1382</integer>
		</dict>
		<key>0566-3067-USB_Keyboard.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBBQgZASkDFQAlAXUBlQORApUFkQEFBxngKeeVCIECGQQp
			KJUlgQIJUpUGCU8JUAkrCSwJUYECCVOVAYECGVkpZJUMgQLA
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>12391</integer>
			<key>idVendor</key>
			<integer>1382</integer>
		</dict>
		<key>0566-3067-USB_Keyboard.yaml-1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQwJAaEBhQEZACo8AhUAJjwClQF1EIEAwAUBCYChAYUCGYEpgxUA
			JQF1AZUDgQKVBYEBwAUBCQahAYUDBQcZPClOFQAlAZUTgQIJLpUE
			CSkJKgktgQIZUylYlQaBAhkwKTuVDIECGYUpi5UHgQIZkCmWlQaB
			AgllCS+VAoECwA==
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>12391</integer>
			<key>idVendor</key>
			<integer>1382</integer>
		</dict>
		<key>06f3-104e-_.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBBQgZASkDFQAlAXUBlQORApUFkQEFBxngKeeVCIECGQQp
			J5UkgQIJK5UPCS0JLgkvCTAJMQkzCTQJNgk3CTgJNQksCTkJKIEC
			GUopTpUFgQLA
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>258</integer>
			<key>idProduct</key>
			<integer>4174</integer>
			<key>idVendor</key>
			<integer>1779</integer>
		</dict>
		<key>06f3-104e-_.yaml-1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQwJAaEBhQEZACo8AhUAJjwClQF1EIEAwAUBCQahAYUDBQcZ4Cnn
			FQAlAXUBlQiBAhk5KWUVACUBlS2BAglJlQMJKQkqgQKVMMA=
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>258</integer>
			<key>idProduct</key>
			<integer>4174</integer>
			<key>idVendor</key>
			<integer>1779</integer>
		</dict>
		<key>1006-0022-USB_Keyboard.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBBQgZASkDFQAlAXUBlQORApUFkQEFBxngKeeVCIECGQQp
			KJUlgQIJUpUGCU8JUAkrCSwJUYECCVOVAYECGVkpZJUMgQLA
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>320</integer>
			<key>idProduct</key>
			<integer>34</integer>
			<key>idVendor</key>
			<integer>4102</integer>
		</dict>
		<key>1006-0022-USB_Keyboard.yaml-1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQwJAaEBhQEZACo8AhUAJjwClQF1EIEAwAUBCYChAYUCGYEpgxUA
			JQF1AZUDgQKVBYEBwAUBCQahAYUDBQcZPClOFQAlAZUTgQIJLpUE
			CSkJKgktgQIZUylYlQaBAhkwKTuVDIECGYUpi5UHgQIZkCmWlQaB
			AgllCS+VAoECwA==
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>320</integer>
			<key>idProduct</key>
			<integer>34</integer>
			<key>idVendor</key>
			<integer>4102</integer>
		</dict>
		<key>1007-8400.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBBQgZASkDFQAlAXUBlQORApUFkQEFBxngKeeVCIECGQQp
			J5UkgQIJKJUUCS0JLgkvCTAJMQkzCTQJNgk3CTgJNQksCTkJKwlK
			CUsJTAlNCU6BApU4wA==
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>33792</integer>
			<key>idVendor</key>
			<integer>4103</integer>
		</dict>
		<key>1007-8400.yaml-1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQwJAaEBhQEZACo8AhUAJjwClQF1EIEAwAUBCQahAYUDBQcZ4Cnn
			FQAlAXUBlQiBAhk6KUqVEYECCSqVBwlPCVAJUQlSCSgJKYECGVMp
			apUYgQLA
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>33792</integer>
			<key>idVendor</key>
			<integer>4103</integer>
		</dict>
		<key>264a-3004-POSEIDON_ZX_Illuminated.yaml-0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBqEBBQgZASkDFQAlAXUBlQORApUFkQEFBxngKeeVCIECGQQp
			KJUlgQIJUpUGCU8JUAkrCSwJUYECCVOVAYECGVkpZJUMgQIZPClO
			FQAlAZUTgQIJLpUECSkJKgktgQIZUylYlQaBAhkwKTuVDIECGYUp
			i5UHgQIZkCmWlQaBAgllCS+VAoECdQiVAYEBwA==
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>288</integer>
			<key>idProduct</key>
			<integer>12292</integer>
			<key>idVendor</key>
			<integer>9802</integer>
		</dict>
		<key>Griffin PowerMate</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQwJAaEBBQkZASkBFQAlAXUBlQGBAnUHlQGBAQUBCTcV+SUHdQiV
			AYE4BQwJARUAJv8AdQiVBIECCQF1CJUBkQIJAXUIlQixAsA=
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>1024</integer>
			<key>idProduct</key>
			<integer>1040</integer>
			<key>idVendor</key>
			<integer>1917</integer>
		</dict>
		<key>Macally iShock</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>ryangoulden.driver.IOUSBHIDDriverDescriptorOverride</string>
			<key>IOClass</key>
			<string>IOUSBHIDDriverDescriptorOverride</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>ReportDescriptorOverride</key>
			<data>
			BQEJBaEBdQiVAgkwCTEVACVENQBFRIEClQEJMBV/JS81f0UvgQIJ
			MRUAJUQ1AEVEgQIFCRkBKRQVACUBNQBFAXUBlRSBAnUBlQSBAcA=
			</data>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>idProduct</key>
			<integer>16400</integer>
			<key>idVendor</key>
			<integer>8738</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.usb.IOUSBHostHIDDevice</key>
		<string>1.0.1</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
